header {
    color: lightgoldenrodyellow;
    padding-top: 40px;
    padding-left: 50px;
    padding-bottom: 40px;
    font-size: 75px;
    font-weight: bold;
    
    /* 這樣做 outline */
    text-shadow: 
        +2px +0px black, 
        -2px +0px black, 
        +0px +2px black, 
        +0px -2px black,
        
        +1px +1px black, 
        -1px -1px black, 
        -1px +1px black, 
        +1px -1px black;
}

/* 這樣做把所有內文的樣式都統一 */
p, li, caption, th, td, .scripture .paragraph {
    color: #222200;
    font-size: 18px;
    font-weight: normal;
    margin: 1px;
    
    /* 這樣做 shadow [xOffset] [yOffset] [blur] [color] */
    text-shadow: 1px 1px 3px #00000055;
}

.paragraph {
    font-weight: normal;
    max-width: 200mm;
}

.scripture {
    font-weight: bold;
    max-width: 200mm;
}

nav {
    /* float 就是我可以向左排版，橫向第排版 */
    float: left;
    width: 10%;
}

article {
    /* float 就是我可以向左排版，橫向第排版 */
    float: left;
    width: 70%;
}

body {
    background-color: #fafad9;
}

div {
    margin-top: 5px;
    padding-left: 20px;
    margin-bottom: 5px;
}

th, td {
    text-align: center;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 5px;
}

/*th 就是 table-header 的意思*/
/*:nth-child(even) 代表只有偶數的行位是*/
th:nth-child(even), td:nth-child(even) { 
    background-color: wheat;
}

/*tr 就是 table row 的意思*/
/*:nth-child(even) 代表只有偶數的行位是*/
tr:nth-child(even) {
    background-color: wheat;
}